# ========================
# Java
# ========================
*.class
*.log
*.ctxt

# Maven / Gradle
target/
build/
.gradle/

# ========================
# IDE
# ========================

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db


lib/

# ========================
# Logs / temp
# ========================
*.tmp
*.swp

run_javafx.bat
